
@model IEnumerable<BlogMvc.Models.Post>
@if (Model.Any())
{


    foreach (var item in Model)
    {
    <div>
        <div>
            <h1>
                @Html.DisplayFor(modelItem => item.Title)
            </h1>
        </div>
        <div style="text-align:right; color:peru ">Post on : @Html.DisplayFor(modelItem => item.CreatedOn)  </div>
        <p>
          
            @Html.Raw(item.Content)
        </p>
        @if (User.IsInRole("CanManage"))
        {

            <div style="text-align:right; color:peru ">
                @Html.ActionLink("Edit Post", "Edit", "Posts", new { Id = item.Id }, null)&nbsp; 
               &nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("Edit Comments", "Details", "Posts", new { Id = item.Id }, null)
           @{ bool hasNew=false;
               foreach (var c in item.Comments)
               {

                   if (!c.IsPublished)
                   {
                       hasNew= true;
                       break;
                   }

               }
           }
@if (hasNew)
{ <span style="color:orangered">(New!)</span>}
            </div>
        }

        else
        {

            <div style="text-align:right; color:peru ">
                @Html.ActionLink("View Comments", "Details", "Posts", new { Id = item.Id }, null)&nbsp; @{
                    int n = item.Comments == null ? 0 : item.Comments.Count;

                }
                (@n)&nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("Add Comment", "Create", "Comments", new { Id=item.Id},null)
            </div>
        }


        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>

    </div>       
            
            }

  

}
else
{
    <div>No Posts yet</div>
}

